.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(marker.png);
  background-color: rgba(0, 0, 0, 0);
}

.limbet-square {
    display: flex;
    padding: 10px 10px 0 10px;
    width: 240px;
}

.limbet-img {
    width: 5rem;
    height: 5rem;
}

.limbet-square img {
    border-radius: 0.8rem;
    width: 80px;
    height: 80px;
}

.limbet-header {
    padding: 10px;
}

.limbet-details {
    background-color: #01A442;
    border-radius: 0.8rem 0 0 0;
    float: right;
    height: 28px;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}
.map {
    height: 40em;
    position: relative;
    overflow: hidden;
  }

.bold{font-weight:bold}

.cities:hover p{
    text-decoration: none;
    color: #ff7546;
    cursor: pointer;
}
.cities p{
    color: #000;
    text-decoration: none;
}

.city-option {
    /* position: absolute; */
    border: 1px solid #ddd;
    overflow: auto;
    overflow-x: hidden;
    max-height: 25rem;
    max-width: 15rem;
    background-color: #fff;
    z-index: 1;
}

.city-list {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-container {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: -8.5rem;
    z-index: 9;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1rem;
}

nav.popular {
    display: inline-block;
}
nav.popular .popular {
    color: #00937f;
    border: none;
    outline: none;
}

.filter-divider {
    border-top: 3px solid #00937f;
    width: 90%;
    margin-top: 1.25rem;
}

nav input {
    color: grey;
    background-color: transparent;
    border: none;
    padding-left: 1em;
    font-weight: 700;
    font-size: 1.15em;
    text-decoration: none!important;
    line-height: 1;
    transition: background-color .25s;
}

@media only screen and (max-width:681px) {

.mobile-deal-btn {
  opacity:.7;
  background-color:gray;
  color:#fff;
  cursor:pointer;
  padding:18px;
  width:110%;
  border:none;
  outline:none;
  font-size:15px;
  position:fixed;
  bottom:0;
  left:0;
  z-index:6;
  text-align:center}

.deal-panel {
  position:absolute;
  left:0;
  bottom:18px;
  width:100%;
  padding:0 18px 25px;
  display:none;
  z-index:5;
  overflow:auto;
  overflow-x:hidden;
  max-height:25em;
  background-color:#fff}

.search-here-btn {
  cursor:pointer;
  background-color:#fff;
  top:35%;
  left:50%;
  outline:none;
  -ms-transform:translate(-50%,-50%);
  transform:translateX(-50%);
  position:absolute;
  z-index:6}}

@media only screen and (min-width:681px) {

  .deal-panel{
    font-family:Arial,Helvetica,sans-serif;
    position:absolute;
    top:65%;
    margin-top:-17em;
    max-height:30em;
    margin-left:1em;
    width:20em;
    overflow:auto;
    overflow-x:hidden;
    z-index:5;
    border:1px solid #999;
    background:#fff}
    .stick-div{position:sticky;
    top:0;
    z-index:6;
    background-color:#fff}

.mobile-deal-btn{display:none}

.search-here-btn {
  cursor:pointer;
  background-color:#fff;
  top:30%;
  left:60%;
  -ms-transform:translate(-50%,-50%);
  transform:translateX(-50%);
  outline:none;
  position:absolute;
  position:fixed;
  z-index:6}}

@media only screen and (min-width:800px) {
  .search-here-btn{
    cursor:pointer;
    background-color:#fff;
    top:30%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    transform:translateX(-50%);
    outline:none;
    position:absolute;
    z-index:6}}

@media only screen and (min-width:960px) {

  .deal-panel {
    font-family:Arial,Helvetica,sans-serif;
    position:absolute;
    top:65%;
    margin-top:-17em;
    max-height:30em;
    margin-left:2em;
    width:25em;
    overflow:auto;
    overflow-x:hidden;
    z-index:5;
    border:1px solid #999;
    background:#fff
    }
  }

  .btn-outline-primary {
    color: #00937f;
    border-color: #00937f;
    font-weight: 400;
    font-size: 10pt;
    border-radius: .9rem;
    padding: .3rem 1.25rem;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

  .col-md-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.bg-white {
    background-color: #fff!important;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.search-wrapper {
   position: relative;
   label {
     position: absolute;
     font-size: 12px;
     color: rgba(0,0,0,.50);
     top: 8px;
     left: 12px;
     z-index: -1;
     transition: .15s all ease-in-out;
   }
   input {
     padding: 4px 12px;
     color: rgba(0,0,0,.70);
     border: 1px solid rgba(0,0,0,.12);
     transition: .15s all ease-in-out;
     background: white;
     &:focus {
       outline: none;
       transform: scale(1.05);
       & + label  {
         font-size: 10px;
         transform: translateY(-24px) translateX(-12px);
       }
     }
     &::-webkit-input-placeholder {
         font-size: 12px;
         color: rgba(0,0,0,.50);
         font-weight: 100;
     }
   }
 }
